<div class="grid grid-cols-4 gap-6">
  <div class="">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-span-3">
    <app-card>
      <card-title>
        <h4 class="text-lg font-bold">Messages</h4>
      </card-title>
      <card-body>
        <div class="border-b border-gray-200">
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
        </div>
      </card-body>
    </app-card>
  </div>
</div>