<button class="btn btn-dark w-full mb-6" routerLink="/compose">Compose Message</button>
<app-card>
  <card-title>
    <h4 class="text-lg font-bold">Navigation</h4>
  </card-title>
  <card-body>
    <div class="flex flex-col gap-2">
      <a routerLink="/messages"
        class="inline-flex bg-gray-100 hover:bg-gray-300 px-3.5 py-2.5 rounded-lg font-medium">Messages</a>
      <a href="" class="inline-flex bg-gray-100 hover:bg-gray-300 px-3.5 py-2.5 rounded-lg font-medium">Sent
        Messages</a>
      <a href="" class="inline-flex bg-gray-100 hover:bg-gray-300 px-3.5 py-2.5 rounded-lg font-medium">Trash
        Messages</a>
    </div>
  </card-body>
</app-card>